# Project: dataset acquisition with AIdeck
dataset/AIdeck-dataset/imageStorage
dataset/AIdeck-dataset/images
dataset/AIdeck-dataset/BUILD

# Project: synthetic dataset from Blender 3D rendering
dataset/background/
dataset/images
dataset/*.blend1

# Project: training of locaNet
.vscode/
__pycache__/
output/

# Project: onboard running of locaNet on the AIdeck
aideck-locaNet/BUILD_MODEL_SQ8BIT
aideck-locaNet/BUILD
aideck-locaNet/model
aideck-locaNet/imgquant