# Project: dataset acquisition with AIdeck
dataset/aideck-dataset/imageStorage
dataset/aideck-dataset/BUILD
dataset/aideck-dataset/calibration/*.ppm

# Project: synthetic dataset from Blender 3D rendering
dataset/background/
dataset/images
dataset/*.blend1

# Project: training of locaNet
.vscode/
__pycache__/
output/

# Project: onboard running of locaNet on the AIdeck
aideck-locaNet/BUILD_MODEL_SQ8BIT
aideck-locaNet/BUILD
aideck-locaNet/model